
/* menu css */
.menu-wrap {
    position: fixed;
    z-index: 1001;
    bottom: 0;
    left: initial;
    width: 100%;
    height: 50px;
    background: #F6F5F1;
    border-top: 1px solid #DDD;
    margin: 0 auto;
    max-width: 640px;
}
.menu-wrap .menu-item {
    display: block;
    float: left;
    box-sizing: border-box;
    height: inherit;
    line-height: 50px;
    text-align: center;
    border-top: 2px solid transparent;
    width: 25%;
}
.menu-wrap .menu-item a {
    font-size: 12px;
    padding-top: 5px;
    display: block;
    position: relative;
}
.menu-wrap .icon-menu {
    background: url(../img/icon_list_menu.png) no-repeat;
    background-size: 22px 168px;
    width: 21px;
    height: 21px;
    margin: 0 auto;
    overflow: hidden;
    display: block;
    padding: 0;
    box-sizing: border-box;
}
.menu-wrap .icon-order {
    background-position: 0 0!important;
}
.menu-wrap .icon-order.active {
    background-position: 0 -21px!important;
}
.menu-wrap .icon-featured {
    background-position: 0 -126px!important;
}
.menu-wrap .icon-featured.active {
    background-position: 0 -147px!important;
}
.menu-wrap .icon-cart {
    background-position: 0 -42px!important;
}
.menu-wrap .icon-cart.active {
    background-position: 0 -63px!important;
}
.menu-wrap .icon-mine {
    background-position: 0 -84px!important;
}
.menu-wrap .icon-mine.active {
    background-position: 0 -105px!important;
}
.menu-wrap .menu-item p {
    margin: 3px 0 0;
    padding: 0;
    line-height: 14px;
    height: 14px;
    color: #000;
}