/* section.css */
.section-wrap {
	position: relative;
}
.section-wrap .section-item {
	position: relative;
	width: 100%;
	min-height: 180px;
	line-height: 180px;
	text-align: center;
}
.section-wrap .section-column {
	position: relative;
}
.section-wrap .section-item .section-column2:nth-child(2) {
	border-right: 0px;
}
.section-column2 {
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
	min-height: inherit;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
}
.section-wrap .section-action {
	position: absolute;
	bottom: 10px!important;
	right: 15px!important;
}