<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
</head>
<style type="text/css">
</style>
<body>
	<div id="HeaderComponent"></div>
	<div id="SliderComponent"></div>
	<div id="SectionComponent"></div>
	<div id="FlowComponent"></div>
	<div id="MenuComponent"></div>

	<script src="../dist/js/common.module.js"></script>
	<script src="../dist/js/header.module.js"></script>
	<script src="../dist/js/slider.module.js"></script>
	<script src="../dist/js/section.module.js"></script>
	<script src="../dist/js/menu.module.js"></script>
	<script src="../dist/js/flow.module.js"></script>
</body>
</html>